 * {
     padding: 0px;
     margin: 0;
 }

 * {
     box-sizing: border-box;
 }

 *::after {
     box-sizing: border-box;
 }

 *::before {
     box-sizing: border-box;
 }

 #html {
     word-break: break-all;
 }

 #div1 {
     position: fixed;
     /* left: 80px;
     transform: translateX(-50%); */
     left: 0px;
     right: 0px;
     margin-left: auto;
     margin-right: auto;
     top: 40px;
     animation: div1 4s linear infinite 3s;
 }

 @keyframes div1 {
     from {
         transform: rotate(0deg);
     }
     to {
         transform: rotate(360deg);
     }
 }

 #div1::before {
     content: "";
     display: block;
     position: absolute;
 }

 #div1::after {
     content: "";
     display: block;
     position: absolute;
 }

 @media (max-width: 500px) {
     #html {
         height: 50vh;
         overflow: auto;
     }
     #div1Wrapper {
         height: 50vh;
     }
     #div1 {
         position: relative;
         left:0px;
         right: 0px;
         margin-right:auto;
         margin-left:auto;
     }
 }